body{
    background-image: url(../assets/back-school-background-with-school-supplies-copy-space.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.contPrincipal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
   }

.cardPrincipal{
    width: 232px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.card:hover{
    transition: 1s;
    box-shadow: 25px 15px 25px rgba(0, 0, 0, 0.4);
}